body {
  font-family: sans-serif;
}

h1 {
  padding-top: 70px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.row {
  margin-top: 60px;
}

p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}


.d-flex {
  margin-top: 20px;
}

.img-box {
  min-height: 77px;
}
