body {
  font-family: sans-serif;
}

h1 {
  padding-top: 70px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.row {
  margin-top: 60px;
}

span {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.d-flex {
  margin-top: 20px;
}

