* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.container {
  width: 100%;
  height: 723px;
  background-color: #f9f9f9;
  margin: auto;
 
  display: flex;
  align-items: center;
 
}

.wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  background-color: #f9f9f9;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: auto;
}


.section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}



.header-title {
  font-size: 36px;
  margin-bottom: 125px;
}

.product-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-name {
  font-size: 16px;
}

.price {
  font-size: 18px;
  font-weight: 700;
}

.btn {
  color: #23bac1;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 23px 75px;
  width: 200px;
  height: 55px;
  border: 1px solid #23bac1;
  background-color: #f9f9f9;
}

.img-box {
  background-color: #fff;
  width: 263px;
  height: 210px;
}