body {
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
}

.hero, .people {
  padding-top: 74px;
  padding-bottom: 190px;
  background-color: #f4f5f7;
}

.brand {
  text-transform: uppercase;
  color: #95989a;
  font-weight: 700;
}

.social a {
  margin-right: 20px;
}

.main-info {
  margin-top: 100px;
}

.main-img {
  max-width: 100%;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.description {
  margin-top: 20px;
}

.price {
  font-size: 48px;
  font-weight: 400;
}

.margin {
  margin-right: 30px;
}

/**/

.about {
  padding-top: 100px;
  padding-bottom: 130px;
}

.section-block {
  margin-top: 100px;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
}

.block-text {
  font-size: 16px;
}

/**/
.photos {
  margin-top: 64px;
}

.people-photo {
  margin-top: 10px;
}

/**/

.footer {
  background-color: #32325f;
  color: #ffffff;
  padding-top: 78px;
  padding-bottom: 104px;
}
.footer-heading {
  margin-bottom: 35px;
  font-size: 24px;
}

.footer-contacts {
  text-decoration: none;
  color: #ffffff;
}







