* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  background: url(https://get.wallhere.com/photo/synthwave-8-bit-cityscape-pixels-artwork-1473301.jpg);
}

.container {
  max-width: 1140px;  
  min-height: 1050px;
  margin: auto;
}

.header {
  text-align: center;
  padding-top: 40px;
  font-size: 26px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px; 
}


.work-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.work-item:hover {
  color: #e1fd61;
  border: 1px dotted #e1fd61;
}