* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
}

a {
  text-decoration: none;
}

/*Первый блок*/

.hero {
  padding-top: 74px;
  padding-bottom: 190px;
  background-color: #f4f5f7;
}

.container {
  max-width: 1140px;
  width: 96%;
  margin: auto;
}

.navbar {
  margin-bottom: 159px;
  display: flex;
  justify-content: space-between;
}

.brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #95989a;
}

.social a {
  margin-right: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  width: 50%;
}

.subtitle {
  display: block;
  margin-bottom: 15px;
}

.title {
  display: block;
  margin-bottom: 26px;
  font-size: 48px;
  font-weight: 700;
}

.description {
  margin-bottom: 16px;
  line-height: 26px;
}

.price-tag {
  display: block;
  margin-bottom: 20px;
}

.price {
  display: block;
  margin-bottom: 49px;
  font-size: 48px;
}

.btn {
  padding: 20px 30px;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  color: #ffffff;
  font-weight: 700;
}

.btn-sucsess {
  margin-right: 30px;
  background-color: #2dce89;
}

.btn-primary {
  background-color: #5e72e4;
}

/*Второй блок*/
.section {
  padding-top: 90px;
  padding-bottom: 130px;
}

.section-subtitle {
  display: block;
  margin-bottom: 14px;
}

.heading-title {
  font-size: 48px;
  font-weight: 700;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.block {
  width: 23%;
  margin-right: 2%;  
}

.block-text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.3;
}
/*Третий блок*/

.people {
  background-color: #f4f5f7;
}
.people-wrap {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
}

.people-wrap img {
  width: 31%;
  margin-right: 1.5%;
  padding-top: 36px;
  min-width: 362px;
}


/*Четвёртый блок*/

.footer {
  background-color: #32325f;
  color: #ffffff;
  padding: 70px 0;  
}

.footer-wrap {
  display: flex;
}

.footer-block {
  width: 33%;
}

.footer-block p {
  font-size: 16px;
  margin-top: 35px;
  line-height: 1.2;
}